<div class="container-fluid">
  <div class="row text-center bg-light">
    <div class="col-md-12"><h3>Encoded To Json Format</h3></div>
  </div>

  <div class="row pt-2 body-height">
    <div class="col-md-6">
      <textarea class="form-control w-100 h-100 bg-dark text-light" [(ngModel)]="inputText" (input)="inputValue($event)" placeholder="Enter your base64 content..."></textarea>
    </div>
    <div class="col-md-6">
      <!-- <pre class="form-control h-100 bg-dark text-light">{{ outputText }}</pre> -->
      <div class="form-control h-100">
        <!-- https://www.npmjs.com/package/ngx-json-viewer -->
        <ngx-json-viewer [json]="outputText"></ngx-json-viewer>
      </div>
    </div>
  </div>
</div>


